html, body {
  margin: 0;
  padding: 0;
  background: #eee;
  color: #333;
  text-align: justify;
}

html {
  min-height: 100%;
}

body > * {
  max-width: 820px;
  margin-left: auto;
  margin-right: auto;
}

body .header {
  width: 100%;
  background: #e2dde9;
  color: #656;
  margin: 0;
  max-width: 100%;
  padding: 1em;
  text-align: center;
}

hr {
  color: transparent;
}

p {
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: #84f;
  transition-duration: 0.5s;
}

a:hover {
  color: #a2d;
}

code {
  color: #656;
  background: #e2dde9;
  padding: 0.2em;
  font-size: 0.9em;
}

pre {
  border-left: 5px solid #84f;
  padding: 10px;
  background: #e2dde9;
  color: #656;
}

div.example {
  margin-left: auto;
  margin-right: auto;
}

p, ul, div {
  margin-bottom: 2em;
}

.float {
  background: #ddd;
  padding: 0.5em;
  text-align: center;
}

.float p {
  text-align: justify;
}

.float-caption, .float-caption p {
  margin: 0;
}
